# Ignore Visual Studio files
*/.vs/
*.suo
*.user
*.sln.docstates

# Ignore NuGet Packages
*.nuget.props
*.nuget.targets

# Ignore build output
*/bin/
*/obj/

# Ignore .NET Core build results
*.dll
*.pdb
*.cache
*.log
*.vscode
.DS_Store
.vs/
obj/
/bin
